<center><p id="notice"><%= notice %></p>

<h1 class="animated fadeIn">Listing Documents</h1>

<table>
  <thead>
    <tr class="animated fadeIn">
      <th>Filename</th>
      <th>Content type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @documents.each do |document| %>
      <tr class="animated fadeIn">
        <td><%= document.filename %></td>
        <td><%= document.content_type %></td>
        <td><%= link_to 'Show', document, :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Download', edit_document_path(document), :class => 'btn btn-warning' %></td>
        <td><%= link_to 'Destroy', document, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Document', new_document_path, :class => 'btn btn-success animated fadeIn' %></center>
