<p id="notice"><%= notice %></p>

<center><h1>Listing Projects</h1>


<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
    <tr>
      <th>
        Name
      </th>
      <th>
        Difficulty
      </th>
      <th>
        Points
      </th>

    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td>Easy </td>
        <td>10 <td>
        <td> <%= link_to 'Show', project, :class => 'btn btn-primary' %> <%= link_to 'Destroy', project, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path, :class => 'btn btn-success' %></center>
